@media (width >= 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2000px !important;
    }
}

.navbar-brand {
    position: fixed !important;
    top: 10 !important;
    left: 20 !important;
}

button {
    background-color: rgba(13, 110, 253, 1);
    border: black;
}
